.tabs-container {
    display: inline-flex;
    width: 100%;
    background-color: rgb(211, 211, 211);
    border-bottom: 1px solid gray;
    position: sticky;
    top: 0;
    .tab-header {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        padding: 8px 4px;
        cursor: pointer;
        font-size: 1.2rem;
        &.selected {
            background-color: royalblue;
            color: white;
        }
    }
}

.tab-content {
    display: none;
    padding: 8px;
    &.tab-content-visible {
        display: flex;
        flex-direction: column;
    }
}
